body{
    background-color: cadetblue;
}

.container{
    width:400px;
    height:670px;
    border-radius:10%;
    background-image: url('./Jellyfish.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin:auto;
}

.empty{
    margin-left:30px;
    background-color: white;
    width:80%;
    height:145px;
    border-radius:10%;
    cursor: pointer;
}

.things{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(8, 152, 255, 0.7);
    color:black;
    width:80px;
    height:90px;
    border-radius:50%;
    color:white;
    font-size: x-large;
    float:left;
    margin-bottom: 2px;
    margin-left:20px;
    cursor: pointer;
}

.signs{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(251, 8, 255, 0.7);
    color:black;
    width:80px;
    height:90px;
    border-radius:50%;
    color:white;
    font-size: xx-large;
    float:left;
    margin-bottom: 10px;
    margin-left:10px;
    cursor: pointer;
}

.cl{
    clear:left;
}

.zero{
    display:flex;
    width:190px;
    height:90px;
    background-color: rgba(8, 25, 255, 0.7);
    color:white;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    border-radius:50px;
    float:left;
    margin-left:20px;
    position: relative;
    bottom:8px;
    cursor: pointer;
}

.bottom{
    position: relative;
    bottom:8px; 
}

.numbers{
    display:flex;
    width:80px;
    height:80px;
    background-color: rgba(8, 25, 255, 0.453);
    color:white;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    float:left;
    margin-bottom: px;
    margin-left:20px;
    cursor: pointer;
    transition:1s;
}

/* Using grid

.container{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    width:600px;
    margin:auto;
}

input{
    grid-column:1/5;
}

#enter{
    grid-column:3/5;
*/